body {
    background-color: rgb(0, 0, 22);
    display: flex;
    color: #fff;
    font-family: "Ubuntu", sans-serif;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: unset;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 600px;
    border-right: 1px solid rgb(0, 0, 117);
    height: 100vh;
}

.sidebar__header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.sidebar__tasks-wrapper {
    overflow-y: auto;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
    transition: 200ms;
    position: relative;
}

.task__main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.task__title {
    font-size: 20px;
    font-weight: 700;
}

.task__time {
    font-size: 14px;
    font-weight: 300;
}

.task__info {
    display: flex;
    justify-content: space-between;
}

.task__text {
    font-weight: 300;
    font-size: 14px;
    width: 300px;
    word-wrap: break-word;
}

.task__status {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100px;
    transition: 200ms;
}

.task__delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid red;
    background-image: url('images/delete.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    transition: 200ms;
    opacity: 0;
}

.task__delete:hover {
    background-image: url('images/delete_active.svg');
    background-color: red;
}

.task:hover {
    background-color: rgb(0, 0, 117);
}

.task:hover .task__delete {
    opacity: 1;
}

.main {
    width: 100%;
    padding: 0 20px 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__text {
    font-weight: 300;
}

.header__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;
    transition: 200ms;
}

.header__wrapper:hover {
    background-color: rgb(88, 88, 88);
}

.header__add-task-image {
    width: 20px;
    height: 20px;
    background-image: url("images/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 200ms;
}

#add-task:hover > .header__add-task-image {
    background-image: url("images/plus_active.svg");
}

.header__save-changes-image {
    width: 20px;
    height: 20px;
    background-image: url("images/save.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 200ms;
}

#save-changes:hover > .header__save-changes-image {
    background-image: url("images/save_active.svg");
}

.header__clear-tasks-image {
    width: 20px;
    height: 20px;
    background-image: url("images/trash.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 200ms;
}

#clear-all-tasks:hover > .header__clear-tasks-image {
    background-image: url("images/trash_active.svg");
}

.header__change-status-image {
    width: 20px;
    height: 20px;
    background-image: url("images/change-status.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 200ms;
}

#change-status:hover > .header__change-status-image {
    background-image: url("images/change-status_active.svg");
}

.textarea-place__textarea {
    width: 100%;
    height: 87vh;
    resize: none;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(88, 88, 88);
    background-color: #000;
}

.textarea-place {
    display: flex;
    flex-direction: column;
    gap: 20px;
}